force-app/main/default/flows/Case_FDT_Collaborate_on_Multiple_Forms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>490</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>collab_note_form_collection_var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>collab_note_form_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Collab_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_form_ids</name>
        <label>assign form ids</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>forms_selected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Grab_Selected_Rows.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_Selected_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Forms_Count</name>
        <label>Selected Forms Count</label>
        <locationX>358</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>count_of_forms</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>form_table.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grab_Selected_Rows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_Notes_Message</name>
        <label>Setup Notes Message</label>
        <locationX>138</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>Discovery_Notes_text_variable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Discovery_Notes_text_formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gather_Notes_from_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Collab_Notes</name>
        <label>Update Collab Notes</label>
        <locationX>490</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>collab_note_form_var.Collaboration_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collaboration_Notes_ongetform</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collab_note_form_var.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Collab_Notes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_Notes</name>
        <label>What Notes</label>
        <locationX>358</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>note_options.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Read Discovery Notes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gather_Notes_from_Form</targetReference>
            </connector>
            <label>Discovery Notes</label>
        </rules>
        <rules>
            <name>Collaboration_Notes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>note_options.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enter Collaboration Notes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Collab_Notes</targetReference>
            </connector>
            <label>Collaboration Notes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Discovery_Notes_text_formula</name>
        <dataType>String</dataType>
        <expression>{!Discovery_Notes_text_variable} + {!Gather_Notes_from_Form.Form_Name__c} + &quot;: &quot; + {!Gather_Notes_from_Form.Discovery_Notes__c} + &quot;  &quot;</expression>
    </formulas>
    <formulas>
        <name>plus_one_formula</name>
        <dataType>Number</dataType>
        <expression>{!count_of_forms} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Case - FDT Collaborate on Multiple Forms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - FDT Collaborate on Multiple Forms</label>
    <loops>
        <name>Gather_Notes_from_Form</name>
        <label>Gather Notes from Form</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <collectionReference>form_table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Setup_Notes_Message</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Discovery_Notes_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Collab_Notes</name>
        <label>Get Collab Notes</label>
        <locationX>402</locationX>
        <locationY>1670</locationY>
        <collectionReference>form_table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>enter_collab_notes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_the_Collab_Notes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Grab_Selected_Rows</name>
        <label>Grab Selected Rows</label>
        <locationX>358</locationX>
        <locationY>638</locationY>
        <collectionReference>form_table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_form_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Forms</name>
        <label>Update Forms</label>
        <locationX>358</locationX>
        <locationY>1094</locationY>
        <collectionReference>form_table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Time_Stamp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Success_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Gather_Forms</name>
        <label>Gather Forms</label>
        <locationX>358</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pick_forms</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Traverse_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Update_Forms</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>forms_selected</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Divide_Collaborate_Time_By__c</field>
            <value>
                <elementReference>count_of_forms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Collaborate</stringValue>
            </value>
        </inputAssignments>
        <object>Traverse_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Collab_Notes</name>
        <label>Update the Collab Notes</label>
        <locationX>402</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Notes_added_screen</targetReference>
        </connector>
        <inputReference>collab_note_form_collection_var</inputReference>
    </recordUpdates>
    <screens>
        <name>Discovery_Notes_Screen</name>
        <label>Discovery Notes Screen</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>discovery_notes_instructions</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(71, 1, 247);&quot;&gt;Below are the discovery notes from all the forms you selected for your use.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>discoveryNotes</name>
            <fieldText>&lt;p&gt;{!Discovery_Notes_text_variable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>enter_collab_notes</name>
        <label>enter_collab_notes</label>
        <locationX>490</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Collab_Notes</targetReference>
        </connector>
        <fields>
            <name>form_Name</name>
            <fieldText>&lt;p&gt;Form Name: {!Get_Collab_Notes.Form_Name__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Collaboration_Notes_ongetform</name>
            <fieldText>Collaboration Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>error_screen</name>
        <label>error_screen</label>
        <locationX>1194</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Notes_added_screen</name>
        <label>Notes added screen</label>
        <locationX>402</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>notes_added_message</name>
            <fieldText>&lt;p&gt;Collaboration Notes were successfully added!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>pick_forms</name>
        <label>pick_forms</label>
        <locationX>358</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Forms_Count</targetReference>
        </connector>
        <fields>
            <name>help_text</name>
            <fieldText>&lt;p&gt;Please select all the forms on you wish to collaborate on.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>form_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Traverse_Form__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Gather_Forms</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Form_Name__c&quot;,&quot;guid&quot;:&quot;column-6508&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Form Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Content_Type__c&quot;,&quot;guid&quot;:&quot;column-4969&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Content Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Exact_Match__c&quot;,&quot;guid&quot;:&quot;column-6f29&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Exact Match&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-2625&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Start_Screen</name>
        <label>Start Screen</label>
        <locationX>358</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Gather_Forms</targetReference>
        </connector>
        <fields>
            <name>start_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;If you need to set multiple forms into Collaborate click Next&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>358</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>What_Notes</targetReference>
        </connector>
        <fields>
            <name>congrats_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You&apos;ve successfully updated the selected forms.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>note_options</name>
            <extensionName>c:flowButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <stringValue>Read Discovery Notes, Enter Collaboration Notes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>blue, blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Time_Stamp</name>
        <label>Time Stamp</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Update_Forms</targetReference>
        </connector>
        <flowName>Traverse_Form_Stopwatch</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Update_Forms.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>collab_note_form_collection_var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Traverse_Form__c</objectType>
    </variables>
    <variables>
        <name>collab_note_form_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Traverse_Form__c</objectType>
    </variables>
    <variables>
        <name>collab_notes</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>count_of_forms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Discovery_Notes_text_variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>forms_selected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
