force-app/main/default/flows/Subflow_Create_Form_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Content_to_Collection</name>
        <label>Add Content to Collection</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>content_Item_var_collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>content_item_var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Where_Files_Associated_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_Content_Ids_to_Collection</name>
        <label>Assign the Content Ids to Collection</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>file_content_ids</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>uploadDoc.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fields_for_New_Form_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Doc_Link_Collection</name>
        <label>Clear Doc Link Collection</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>content_Item_var_collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>blank_collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Where_Files_Associated_to</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Fields_for_New_Form_Record</name>
        <label>Create Fields for New Form Record</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>new_form_record.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>case_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_form_record.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>account_id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_form_record.Form_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Form_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_form_record.Content_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_form_record.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_screen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_form_record.Exact_Match__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Exact_Match_Form</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_form_record.Design_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_form_record.Change_Correction_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Correction_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_form_record.Change_Correction_Needed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_Correction_Needed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_form_record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_the_Link</name>
        <label>Setup the Link</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>content_item_var.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Update_Where_Files_Associated_to</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>content_item_var.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_form_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Content_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>More_Forms</name>
        <label>More Forms?</label>
        <locationX>176</locationX>
        <locationY>1334</locationY>
        <defaultConnectorLabel>Done</defaultConnectorLabel>
        <rules>
            <name>More_to_Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>moreFormsOrNot.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I have more forms</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Form_Data</targetReference>
            </connector>
            <label>More to Submit</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>request_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>Traverse_Form__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Subflow - Create Form Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow - Create Form Records</label>
    <loops>
        <name>Update_Where_Files_Associated_to</name>
        <label>Update Where Files Associated to</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <collectionReference>file_content_ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Setup_the_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Link</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Link</name>
        <label>Create Content Link</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>More_Forms</targetReference>
        </connector>
        <inputReference>content_Item_var_collection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Form</name>
        <label>Create New Form</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Clear_Doc_Link_Collection</targetReference>
        </connector>
        <inputReference>new_form_record</inputReference>
    </recordCreates>
    <screens>
        <name>Form_Data</name>
        <label>Form Data</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_the_Content_Ids_to_Collection</targetReference>
        </connector>
        <fields>
            <name>pageTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Form Details&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Form_Data_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Form_Data_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Request_Type_screen</name>
                    <choiceReferences>request_type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Request Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Exact_Match_Form</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Exact Match Form</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Form_Data_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Form_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Form Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Form_Data_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Content_Type</name>
                    <dataType>String</dataType>
                    <fieldText>Content Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Form_Data_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Form_Data_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Notes</name>
                    <fieldText>Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Request_Type_screen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New Form</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Change_Correction_Location</name>
                    <fieldText>Change/Correction Location</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Request_Type_screen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Revision</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Form_Data_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Change_Correction_Needed</name>
                    <fieldText>Change/Correction Needed</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Request_Type_screen</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Revision</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>uploadDoc</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Attach Documents</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>case_id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>moreFormsOrNot</name>
            <extensionName>c:flowButtons</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabelString</name>
                <value>
                    <stringValue>I have more forms, I&apos;m done adding forms</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonColourString</name>
                <value>
                    <stringValue>blue, blue</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Form_Data</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>account_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>blank_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>case_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>content_item_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>content_Item_var_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>file_content_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>file_name_collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>new_form_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Traverse_Form__c</objectType>
    </variables>
</Flow>
