force-app/main/default/flows/Traverse_Form_Stopwatch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Setup_fields_for_New_Time_Stamp</name>
        <label>Copy 1 of Setup fields for New Time Stamp</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>new_time_stamp.Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Form_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Collaborate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>time_now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Traverse_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Already_Started</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Setup_fields_for_New_Time_Stamp</name>
        <label>Copy 2 of Setup fields for New Time Stamp</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>new_time_stamp.Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Form_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revise Form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>time_now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Traverse_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Already_Started</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Setup_fields_for_New_Time_Stamp</name>
        <label>Copy 3 of Setup fields for New Time Stamp</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>new_time_stamp.Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Form_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quality Check</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>time_now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Traverse_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Already_Started</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Setup_fields_for_New_Time_Stamp</name>
        <label>Copy 4 of Setup fields for New Time Stamp</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>new_time_stamp.Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Form_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Production</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>time_now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Traverse_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Already_Started</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_fields_for_New_Time_Stamp</name>
        <label>Setup fields for New Time Stamp</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>new_time_stamp.Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Form_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>time_now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Traverse_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Already_Started</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Started</name>
        <label>Already Started</label>
        <locationX>710</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Set_End_Time_on_Revise_Time_Entry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Started</defaultConnectorLabel>
        <rules>
            <name>Not_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>openTimeStamp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Time_Stamp</targetReference>
            </connector>
            <label>Not Started</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Current_Status</name>
        <label>Copy 1 of Current Status</label>
        <locationX>1172</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Traverse_Form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_Discovery_Time</targetReference>
            </connector>
            <label>Copy 1 of Discovery</label>
        </rules>
        <rules>
            <name>Copy_1_of_Collaborate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Traverse_Form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collaborate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_Collaborate_Time</targetReference>
            </connector>
            <label>Copy 1 of Collaborate</label>
        </rules>
        <rules>
            <name>Copy_1_of_Design_Revise_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Traverse_Form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revise Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_Revise_Time</targetReference>
            </connector>
            <label>Copy 1 of Design/Revise Form</label>
        </rules>
        <rules>
            <name>Copy_1_of_Quality_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Traverse_Form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_QC_Time</targetReference>
            </connector>
            <label>Copy 1 of Quality Check</label>
        </rules>
        <rules>
            <name>Copy_1_of_Update_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Traverse_Form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Production</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_UP_Time</targetReference>
            </connector>
            <label>Copy 1 of Update Production</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Status</name>
        <label>Current Status</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Traverse_Form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Open_Discovery_Time_Stamps</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
        <rules>
            <name>Collaborate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Traverse_Form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collaborate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Open_Collaborate_Time_Stamps</targetReference>
            </connector>
            <label>Collaborate</label>
        </rules>
        <rules>
            <name>Revise_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Traverse_Form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revise Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Open_Revision_Time_Stamps</targetReference>
            </connector>
            <label>Design/Revise Form</label>
        </rules>
        <rules>
            <name>Quality_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Traverse_Form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Open_QC_Time_Stamp</targetReference>
            </connector>
            <label>Quality Check</label>
        </rules>
        <rules>
            <name>Update_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Traverse_Form.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update Production</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Open_UP_Time_Stamp</targetReference>
            </connector>
            <label>Update Production</label>
        </rules>
    </decisions>
    <description>Will mark time-stamps for Traverse Forms to track time worked.</description>
    <environments>Default</environments>
    <formulas>
        <name>time_now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>updatedTotalCollaborateTime</name>
        <dataType>Number</dataType>
        <expression>IF( {!Current_Traverse_Form.Divide_Collaborate_Time__c}, 
({!Current_Traverse_Form.Time_in_Collaborate_Minutes__c} + {!timeTaken})/{!Current_Traverse_Form.Divide_Collaborate_Time_By__c},
{!Current_Traverse_Form.Time_in_Collaborate_Minutes__c} + {!timeTaken})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>updatedTotalDiscoveryTime</name>
        <dataType>Number</dataType>
        <expression>{!Current_Traverse_Form.Time_in_Discovery_Minutes__c} + {!timeTaken}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>updatedTotalQCTime</name>
        <dataType>Number</dataType>
        <expression>{!Current_Traverse_Form.Time_in_Quality_Check_Minutes__c} + {!timeTaken}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>updatedTotalReviseTime</name>
        <dataType>Number</dataType>
        <expression>{!Current_Traverse_Form.Time_in_Revision_Minutes__c} + {!timeTaken}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>updatedTotalUPtime</name>
        <dataType>Number</dataType>
        <expression>{!Current_Traverse_Form.Time_in_Update_Production_Minutes__c} + {!timeTaken}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Traverse Form - Stopwatch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Traverse Form - Stopwatch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Time_Stamp</name>
        <label>Create New Time Stamp</label>
        <locationX>248</locationX>
        <locationY>854</locationY>
        <inputReference>new_time_stamp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Current_Traverse_Form</name>
        <label>Current Traverse Form</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Traverse_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Find_Open_Collaborate_Time_Stamps</name>
        <label>Find Open Collaborate Time Stamps</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Setup_fields_for_New_Time_Stamp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Traverse_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Traverse_Form.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collaborate</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TF_Time_Tracker__c</object>
        <outputAssignments>
            <assignToReference>openTimeStamp</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Open_Discovery_Time_Stamps</name>
        <label>Find Open Discovery Time Stamps</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Setup_fields_for_New_Time_Stamp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Traverse_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Traverse_Form.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TF_Time_Tracker__c</object>
        <outputAssignments>
            <assignToReference>openTimeStamp</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Open_QC_Time_Stamp</name>
        <label>Find Open QC Time Stamp</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Setup_fields_for_New_Time_Stamp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Traverse_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Traverse_Form.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quality Check</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TF_Time_Tracker__c</object>
        <outputAssignments>
            <assignToReference>openTimeStamp</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Open_Revision_Time_Stamps</name>
        <label>Find Open Revision Time Stamps</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Setup_fields_for_New_Time_Stamp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Traverse_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Traverse_Form.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Revise Form</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TF_Time_Tracker__c</object>
        <outputAssignments>
            <assignToReference>openTimeStamp</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Open_UP_Time_Stamp</name>
        <label>Find Open UP Time Stamp</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_Setup_fields_for_New_Time_Stamp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Traverse_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Traverse_Form.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Update Production</stringValue>
            </value>
        </filters>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>TF_Time_Tracker__c</object>
        <outputAssignments>
            <assignToReference>openTimeStamp</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Time</name>
        <label>Get Time</label>
        <locationX>1172</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Current_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>openTimeStamp</elementReference>
            </value>
        </filters>
        <object>TF_Time_Tracker__c</object>
        <outputAssignments>
            <assignToReference>timeTaken</assignToReference>
            <field>Total_Time_Minutes__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_End_Time_on_Revise_Time_Entry</name>
        <label>Set End Time on Revise Time Entry</label>
        <locationX>1172</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Get_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>openTimeStamp</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>time_now</elementReference>
            </value>
        </inputAssignments>
        <object>TF_Time_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Collaborate_Time</name>
        <label>Update Total Collaborate Time</label>
        <locationX>776</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Traverse_Form.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_in_Collaborate_Minutes__c</field>
            <value>
                <elementReference>updatedTotalCollaborateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Traverse_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Discovery_Time</name>
        <label>Update Total Discovery Time</label>
        <locationX>512</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Traverse_Form.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_in_Discovery_Minutes__c</field>
            <value>
                <elementReference>updatedTotalDiscoveryTime</elementReference>
            </value>
        </inputAssignments>
        <object>Traverse_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_QC_Time</name>
        <label>Update Total QC Time</label>
        <locationX>1304</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Traverse_Form.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_in_Quality_Check_Minutes__c</field>
            <value>
                <elementReference>updatedTotalQCTime</elementReference>
            </value>
        </inputAssignments>
        <object>Traverse_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Revise_Time</name>
        <label>Update Total Revise Time</label>
        <locationX>1040</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Traverse_Form.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_in_Revision_Minutes__c</field>
            <value>
                <elementReference>updatedTotalReviseTime</elementReference>
            </value>
        </inputAssignments>
        <object>Traverse_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_UP_Time</name>
        <label>Update Total UP Time</label>
        <locationX>1568</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Traverse_Form.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_in_Update_Production_Minutes__c</field>
            <value>
                <elementReference>updatedTotalUPtime</elementReference>
            </value>
        </inputAssignments>
        <object>Traverse_Form__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Current_Traverse_Form</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>new_time_stamp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TF_Time_Tracker__c</objectType>
    </variables>
    <variables>
        <name>openTimeStamp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>timeTaken</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
