force-app/main/default/flows/Traverse_Form_Stopwatch_2_0.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_Status_Variable</name>
        <label>Copy 1 of Set Status Variable</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>new_time_stamp.Form_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Collaborate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Open_Time_Stamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_Status_Variable</name>
        <label>Copy 2 of Set Status Variable</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>new_time_stamp.Form_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Revise Form</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Open_Time_Stamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Set_Status_Variable</name>
        <label>Copy 3 of Set Status Variable</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>new_time_stamp.Form_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quality Check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Open_Time_Stamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Set_Status_Variable</name>
        <label>Copy 4 of Set Status Variable</label>
        <locationX>1106</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>new_time_stamp.Form_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Production</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Open_Time_Stamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_Variable</name>
        <label>Set Status Variable</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>new_time_stamp.Form_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Open_Time_Stamp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_for_New_Time_Stamp</name>
        <label>Setup for New Time Stamp</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>new_time_stamp.Analyst__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>time_now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>new_time_stamp.Traverse_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Time_Stamp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_What_Status</name>
        <label>Copy 1 of What Status</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Update_Total_Time</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Production</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Traverse_Form_Details.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Total_Time</targetReference>
            </connector>
            <label>Copy 1 of Discovery</label>
        </rules>
        <rules>
            <name>Copy_1_of_Collaborate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Traverse_Form_Details.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collaborate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Total_Time</targetReference>
            </connector>
            <label>Copy 1 of Collaborate</label>
        </rules>
        <rules>
            <name>Copy_1_of_Design_Revision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Traverse_Form_Details.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revise Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Total_Time</targetReference>
            </connector>
            <label>Copy 1 of Design/Revision</label>
        </rules>
        <rules>
            <name>Copy_1_of_QC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Traverse_Form_Details.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Update_Total_Time</targetReference>
            </connector>
            <label>Copy 1 of QC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Open_Time_Stamp</name>
        <label>Has Open Time Stamp</label>
        <locationX>578</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Set_End_Time_on_Open_Time_Stamp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Open</defaultConnectorLabel>
        <rules>
            <name>None_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>open_time_stamp_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Time_Stamp</targetReference>
            </connector>
            <label>None Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Status</name>
        <label>What Status</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Set_Status_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Production</defaultConnectorLabel>
        <rules>
            <name>Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Traverse_Form_Details.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Status_Variable</targetReference>
            </connector>
            <label>Discovery</label>
        </rules>
        <rules>
            <name>Collaborate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Traverse_Form_Details.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collaborate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Status_Variable</targetReference>
            </connector>
            <label>Collaborate</label>
        </rules>
        <rules>
            <name>Design_Revision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Traverse_Form_Details.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Revise Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_Status_Variable</targetReference>
            </connector>
            <label>Design/Revision</label>
        </rules>
        <rules>
            <name>QC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Traverse_Form_Details.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Check</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Set_Status_Variable</targetReference>
            </connector>
            <label>QC</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>time_now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>updated_total_time</name>
        <dataType>Number</dataType>
        <expression>CASE({!new_time_stamp.Form_Status__c}, 
&quot;Discovery&quot;, {!Traverse_Form_Details.Time_in_Discovery_Minutes__c} + {!time_taken},
&quot;Collaborate&quot;, {!Traverse_Form_Details.Time_in_Collaborate_Minutes__c} + {!time_taken}, 
&quot;Revise Form&quot;, {!Traverse_Form_Details.Time_in_Revision_Minutes__c} + {!time_taken}, 
&quot;Quality Check&quot;, {!Traverse_Form_Details.Time_in_Quality_Check_Minutes__c} + {!time_taken}, {!Traverse_Form_Details.Time_in_Update_Production_Minutes__c} + {!time_taken})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Traverse Form - Stopwatch 2.0 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Traverse Form - Stopwatch 2.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Time_Stamp</name>
        <label>Create Time Stamp</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <inputReference>new_time_stamp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_time</name>
        <label>Get time</label>
        <locationX>974</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_What_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>open_time_stamp_id</elementReference>
            </value>
        </filters>
        <object>TF_Time_Tracker__c</object>
        <outputAssignments>
            <assignToReference>time_taken</assignToReference>
            <field>Total_Time_Minutes__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Open_Time_Stamp</name>
        <label>Open Time Stamp</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>End_Time__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Traverse_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>TF_Time_Tracker__c</object>
        <outputAssignments>
            <assignToReference>open_time_stamp_id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Traverse_Form_Details</name>
        <label>Traverse Form Details</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Setup_for_New_Time_Stamp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Traverse_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Total_Time</name>
        <label>Copy 1 of Update Total Time</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_in_Collaborate_Minutes__c</field>
            <value>
                <elementReference>updated_total_time</elementReference>
            </value>
        </inputAssignments>
        <object>Traverse_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Total_Time</name>
        <label>Copy 2 of Update Total Time</label>
        <locationX>974</locationX>
        <locationY>1334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_in_Revision_Minutes__c</field>
            <value>
                <elementReference>updated_total_time</elementReference>
            </value>
        </inputAssignments>
        <object>Traverse_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Total_Time</name>
        <label>Copy 3 of Update Total Time</label>
        <locationX>1238</locationX>
        <locationY>1334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_in_Quality_Check_Minutes__c</field>
            <value>
                <elementReference>updated_total_time</elementReference>
            </value>
        </inputAssignments>
        <object>Traverse_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Total_Time</name>
        <label>Copy 4 of Update Total Time</label>
        <locationX>1502</locationX>
        <locationY>1334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_in_Update_Production_Minutes__c</field>
            <value>
                <elementReference>updated_total_time</elementReference>
            </value>
        </inputAssignments>
        <object>Traverse_Form__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_End_Time_on_Open_Time_Stamp</name>
        <label>Set End Time on Open Time Stamp</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Get_time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>open_time_stamp_id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>time_now</elementReference>
            </value>
        </inputAssignments>
        <object>TF_Time_Tracker__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Total_Time</name>
        <label>Update Total Time</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Time_in_Discovery_Minutes__c</field>
            <value>
                <elementReference>updated_total_time</elementReference>
            </value>
        </inputAssignments>
        <object>Traverse_Form__c</object>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Traverse_Form_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>new_time_stamp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TF_Time_Tracker__c</objectType>
    </variables>
    <variables>
        <name>open_time_stamp_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>time_taken</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
